// fonts
$primary-heading-font: 'Bellefair',
serif;
$secondary-heading-font: 'Barlow Condensed',
sans-serif;
$primary-regular-font: 'Barlow',
sans-serif;

// colours
$primary-colour:#fff;
$secondary-colour:#0b0d17;
$tertiary-colour:#d0d6f9;

// sizings


// zIndexes
$navbar-index:5000;